
/* -------------------------------------------------------------------------------- */
/* Created by 	:	Ehsan Maleki Zoeram (http://www.EhsanMaleki.com)            */
/* Create date 	: 	Monday 11 May 2015 (1394/02/21) on My Birthday!!            */
/* -------------------------------------------------------------------------------- */

@import "fonts/Gandom/font-face.css";
@import "fonts/Sahel/font-face.css";
@import "fonts/Samim/font-face.css";
@import "fonts/Shabnam/font-face.css";
@import "fonts/Tanha/font-face.css";
@import "fonts/Vazir/font-face.css";

﻿html, body {
    direction: rtl;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #007fba;
}

hr {
    border: none;
    background-color: #ccc;
    height: 1px;
}

body {
    background-color: #565653;
    color: #000;
    direction: rtl;
    line-height: 30px;
    font: 15px/30px vazir,"DejaVu Sans",helvetica,arial,freesans,sans-serif;
    text-align: justify;
}

h1 {
    font-size: 1.5em;
}

header, .test-text, footer {
    margin: auto;
    padding: 50px 10%;
}

header {
    text-align: center;
    background-color: #efeee7;
    color: #444;
}

header .description {
    color: #888;
    font-size: 12px;
}

.font-selection li {
    display: inline-block;
    margin: 0 10px;
}

.test-area {
    font: 15px/30px Tahoma,"DejaVu Sans",helvetica,arial,freesans,sans-serif;
}
.test-text p {
    margin-bottom: 35px;
    margin-top: 10px;
}

.test-area h2 {
    font-weight: 400;
    line-height: 1.6;
}
.test-area h3 {
    font-weight: 400;
    font-size: 1.05em;
    line-height: 1.5;
    margin-top: 5px;
}

.test-text.light a { color: #777777; }
.test-text.dark a { color: #A8B30B; }

.test-text.light h3 { color: #a4a4a4; }
.test-text.dark h3 { color: #a4a4a4; }

.test-text.light {
    background-color: #f5f5f5;
    color: #484848;
}

.test-text.dark {
    background-color: #484848;
    color: #f5f5f5;
}

.test-text h1 {
    background: #b75757 none repeat scroll 0 0;
    border-radius: 10px;
    color: #fcfefe;
    display: block;
    font-size: 3.5em;
    font-weight: normal;
    line-height: 2;
    padding: 10px;
    text-align: center;
    text-shadow: 0 0 1px #000000;
}

.test-text img {
    max-width: 100px;
    margin-top: 20px;
}

.test-text.light img {
    float: left;
    margin-right: 10px;
}

.test-text.dark img {
    float: right;
    margin-left: 20px;
}

.samim-font {
    font: 15px/30px samim, sans-serif;
}

.shabnam-font {
    font: 15px/30px shabnam, sans-serif;
}

.tanha-font {
    font: 15px/30px tanha, sans-serif;
}

.vazir-font {
    font: 15px/30px vazir, sans-serif;
}

.gandom-font {
    font: 15px/30px gandom, sans-serif;
}

.sahel-font {
    font: 15px/30px sahel, sans-serif;
}

.sahel-font.test-area h2 { font-weight: 900; }
.sahel-font.test-area h3 { font-weight: 700; }
.vazir-font.test-area h2 { font-weight: 700; }
.vazir-font.test-area h3 { font-weight: 500; }
.shabnam-font.test-area h2,
.shabnam-font.test-area h3,
.samim-font.test-area h2,
.samim-font.test-area h3{
    font-weight: 700;
}


footer {
    color: #eee;
    text-align: center;
}

footer a {
    color: #D7DD77;
}

.clear { clear: both; }

@media all and (max-width: 700px){
    header, .test-text, footer {
        padding: 30px 30px;
    }
}
