
/* -------------------------------------------------------------------------------- */
/* Created by 	:	Ehsan Maleki Zoeram (http://www.EhsanMaleki.com)				*/
/* Create date 	: 	Thursday 04 April 2015 (1394/02/10) 							*/
/* -------------------------------------------------------------------------------- */
/* Thanks to 	:	http://www.awebfont.ir  								        */
/* -------------------------------------------------------------------------------- */

/* Code : 1881 */
@font-face {
	font-family: 'emz-bardiya';
	font-weight: normal;
	font-style: normal;
	src: 	url('29682ba95555e08afd9e434ebe478d7ba44931101011931.eot') format("embedded-opentype"),
			url('29682ba95555e08afd9e434ebe478d7ba44931101011931.woff') format('woff'),
			url('29682ba95555e08afd9e434ebe478d7ba44931101011931.ttf') format('truetype');
}

/* Code : 1882 */
@font-face {
	font-family: 'emz-bardiya';
	font-weight: bold;
	font-style: normal;
	src: 	url('991b712c01cdf4eb7f15d9180567345060f141101011931.eot') format("embedded-opentype"),
			url('991b712c01cdf4eb7f15d9180567345060f141101011931.woff') format('woff'),
			url('991b712c01cdf4eb7f15d9180567345060f141101011931.ttf') format('truetype');
}
