
/* -------------------------------------------------------------------------------- */
/* Created by 	:	Ehsan Maleki Zoeram (http://www.EhsanMaleki.com)				*/
/* Create date 	: 	Thursday 11 May 2015 (1394/02/21) on My Birthday!!  			*/
/* -------------------------------------------------------------------------------- */

@font-face {
    font-family: "emz-nassim";
    font-weight: normal;
    font-style: normal;
    src:    url("58760l8333p95s3053e79744i97q197943887i9jm01055h.eot") format("embedded-opentype"), 
	        url("58760l8333p95s3053e79744i97q197943887i9jm01055h.woff") format("woff"), 
	        url("58760l8333p95s3053e79744i97q197943887i9jm01055h.ttf") format("truetype");
}

@font-face {
    font-family: "emz-nassim";
    font-weight: bold;
    font-style: normal;
    src:    url("32626c3559ty7332970762513j3zk50559m3663827931du.eot") format("embedded-opentype"), 
	        url("32626c3559ty7332970762513j3zk50559m3663827931du.woff") format("woff"), 
	        url("32626c3559ty7332970762513j3zk50559m3663827931du.ttf") format("truetype");
}
