
/* -------------------------------------------------------------------------------- */
/* Created by 	:	Ehsan Maleki Zoeram (http://www.EhsanMaleki.com)            */
/* Create date 	: 	Monday 11 May 2015 (1394/02/21) on My Birthday!!            */
/* -------------------------------------------------------------------------------- */

@font-face {
    font-family: "emz-droid";
    font-weight: normal;
    font-style: normal;
    src:    url("95607k1191y691143401t7h8m4161879p52907r8w379077.eot") format("embedded-opentype"), 
	        url("95607k1191y691143401t7h8m4161879p52907r8w379077.woff2") format("x-woff2"), 
	        url("95607k1191y691143401t7h8m4161879p52907r8w379077.woff") format("woff"), 
	        url("95607k1191y691143401t7h8m4161879p52907r8w379077.ttf") format("truetype");
}

@font-face {
    font-family: "emz-droid";
    font-weight: bold;
    font-style: normal;
    src:    url("01j52yaq70l060848l629068072n002459017341907205k.eot") format("embedded-opentype"), 
	        url("01j52yaq70l060848l629068072n002459017341907205k.woff2") format("x-woff2"), 
	        url("01j52yaq70l060848l629068072n002459017341907205k.woff") format("woff"), 
	        url("01j52yaq70l060848l629068072n002459017341907205k.ttf") format("truetype");
}
