
/* -------------------------------------------------------------------------------- */
/* Created by 	:	Ehsan Maleki Zoeram (http://www.EhsanMaleki.com)				*/
/* Create date 	: 	Thursday 04 April 2015 (1394/02/10) 							*/
/* -------------------------------------------------------------------------------- */
/* Thanks to 	:	http://www.awebfont.ir  								        */
/* -------------------------------------------------------------------------------- */

/* Code : 1211 */
@font-face {
	font-family: 'emz-east';
    font-weight: normal;
    font-style: normal;
	src: 	url('36382ba95555e08afd9e434ebe478d7ba44612291901931.eot') format("embedded-opentype"),
			url('36382ba95555e08afd9e434ebe478d7ba44612291901931.woff') format('woff'),
			url('36382ba95555e08afd9e434ebe478d7ba44612291901931.ttf') format('truetype');
}

/* Code : 1209 */
@font-face {
	font-family: 'emz-east';
    font-weight: bold;
    font-style: normal;
	src: 	url('955dcd73d2387ec6557aed00fc91061c3e2512291901931.eot') format("embedded-opentype"),
			url('955dcd73d2387ec6557aed00fc91061c3e2512291901931.woff') format('woff'),
			url('955dcd73d2387ec6557aed00fc91061c3e2512291901931.ttf') format('truetype');
}