
/* -------------------------------------------------------------------------------- */
/* Created by 	:	Ehsan Maleki Zoeram (http://www.EhsanMaleki.com)            */
/* Create date 	: 	Thursday 04 April 2015 (1394/02/10)                         */
/* -------------------------------------------------------------------------------- */
/* Thanks to 	:	http://www.awebfont.ir                                      */
/* -------------------------------------------------------------------------------- */

/* Code : 1176 */
@font-face {
	font-family: 'emz-casablanca';
	src: 	url('990b712c01cdf4eb7f15d9180567345060f731291901931.eot') format("embedded-opentype"),
			url('990b712c01cdf4eb7f15d9180567345060f731291901931.woff') format('woff'),
			url('990b712c01cdf4eb7f15d9180567345060f731291901931.ttf') format('truetype');
}

/* Code : 1177 */
@font-face {
	font-family: 'emz-casablanca-heavy';
	src: 	url('48954cc94f969e60a231461a6afb33dafc5831291901931.eot') format("embedded-opentype"),
			url('48954cc94f969e60a231461a6afb33dafc5831291901931.woff') format('woff'),
			url('48954cc94f969e60a231461a6afb33dafc5831291901931.ttf') format('truetype');
}

/* Code : 1178 */
@font-face {
	font-family: 'emz-casablanca-light';
	src: 	url('64282ba95555e08afd9e434ebe478d7ba44831291901931.eot') format("embedded-opentype"),
			url('64282ba95555e08afd9e434ebe478d7ba44831291901931.woff') format('woff'),
			url('64282ba95555e08afd9e434ebe478d7ba44831291901931.ttf') format('truetype');
}