.emz-favorite {
    font-family: emz-favorite, Tahoma;
}

.emz-nassim {
    font-family: emz-nassim, Tahoma;
    font-size: 18px;
}

.emz-droid {
    font-family: emz-droid, Tahoma;
}

.emz-sans {
    font-family: emz-sans, Tahoma;
    font-size: 14px;
    line-height: 2;
}

.emz-adobe {
    font-family: emz-adobe, Tahoma;
    font-size: 14px;
    line-height: 2;
}

.emz-bardiya {
    font-family: emz-bardiya, Tahoma;
    font-size: 15px;
}

.emz-yekan {
    font-family: emz-yekan, Tahoma;
    font-size: 16px;
}

.emz-inassim {
    font-family: emz-inassim, Tahoma;
    font-size: 19px;
}

.emz-east {
    font-family: emz-east, Tahoma;
    font-size: 19px;
}

.emz-liner-xl {
    font-family: emz-liner-xl, Tahoma;
    font-size: 16px;
}

.emz-casablanca {
    font-family: emz-casablanca, Tahoma;
    font-size: 16px;
}

.emz-casablanca-heavy {
    font-family: emz-casablanca-heavy, Tahoma;
    font-size: 16px;
}

.emz-casablanca-light {
    font-family: emz-casablanca-light, Tahoma;
    font-size: 16px;
}

.emz-nazila {
    font-family: emz-nazila, Tahoma;
    font-size: 16px;
}

.emz-tehran {
    font-family: emz-tehran, Tahoma;
    font-size: 16px;
}

.emz-silicon {
    font-family: emz-silicon, Tahoma;
}

.emz-beirut {
    font-family: emz-beirut, Tahoma;
    font-size: 16px;
}

.emz-beirut-x3 {
    font-family: emz-beirut-x3, Tahoma;
    font-size: 16px;
}

.emz-beirut-md {
    font-family: emz-beirut-md, Tahoma;
    font-size: 16px;
}

.emz-liner-print {
    font-family: emz-liner-print, Tahoma;
    font-size: 16px;
}

.emz-liner-screen {
    font-family: emz-liner-screen, Tahoma;
    font-size: 16px;
}

.emz-tunisia {
    font-family: emz-tunisia, Tahoma;
    font-size: 16px;
}
