
/* -------------------------------------------------------------------------------- */
/* Created by 	:	Ehsan Maleki Zoeram (http://www.EhsanMaleki.com)				*/
/* Create date 	: 	Thursday 04 April 2015 (1394/02/10) 							*/
/* -------------------------------------------------------------------------------- */

@font-face {
	font-family: 'emz-adobe';
    font-weight: normal;
    font-style: normal;
	src: 	url('37g4v1z1148b07w441y183082w15448298864g287374952.otf') format("opentype");
}

@font-face {
	font-family: 'emz-adobe';
    font-weight: bold;
    font-style: normal;
	src: 	url('202w85949381727a638428853w43b0876539x38to388369.otf') format("opentype");
}